:root{
  --clr-body-bg: hsl(0, 88%, 46%);
  --clr-body-bg: hsl(0, 94%, 48%);
  --clr-body-bg: hsl(0, 0%, 100%);
  --clr-body-bg: hsl(0, 0%, 100%);
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  
  
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #efdbdb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #903f3f;
  color: black;
}

/* Main content */
.main {
  margin-top: 60px; /* Add a top margin to avoid content overlay */
  background-color: var(--clr-body-bg);
  color: var(--clr-text);
}
h2{
  text-align: center;
  margin: auto;
}

.color-picker > fieldset{
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  background: #333;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;
}

.color-picker input[type="radio"]{
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked{
  background-color: var( --radio-color);
}

.color-picker input[type="radio"]#normal{
  --radio-color: rgb(255, 255, 255);
}

.color-picker input[type="radio"]#light{
  --radio-color: rgb(236, 197, 203);
}

.color-picker input[type="radio"]#dark{
  --radio-color: rgb(13, 0, 45);
}

.light,
:root:has(#light:checked){
  --clr-body-bg: hsl(0 0% 90%);
  --clr-body-bg: hsl(0 0% 100%);
  --clr-body-bg: hsl(0, 84%, 29%);
  --clr-body-bg: hsl(0, 63%, 82%);
}

.dark,
:root:has(#dark:checked){
  --clr-body-bg: hsl(0, 90%, 32%);
  --clr-body-bg: hsl(0, 95%, 25%);
  --clr-body-bg: hsl(0 0% 15%);
  --clr-body-bg: hsl(0, 0%, 54%);


}

.visually-hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.hero{
  
  width: 60%;
  height: 80vh;
  background-image: url("../assets/pictures/pöllö.png"); 
  background-position: center;
  background-size: cover;
  background-color: #093d6a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}


form{
  width: 90%;
  max-width: 600px;
}

.input-group{
  margin-bottom: 30px;
  position: relative; 
  
}

input, textarea{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #000000;
  color: #000000;
  background : transparent;
  font-size: 15px;
}

label{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #000000;
  cursor: text;
  transition: 0.25s;
}
button{
  padding: 10px;
  color: #000000 !important;
  outline: none;
  background: transparent !important;
  border: 1px solid #000000 !important;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease-in-out;


}

button:hover{
  background-color: #7f7fa9 !important;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
  top: -35px;
  font-size: 14px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.row .input-group{
  flex-basis: 48%;
  
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading{
  width: 50%;
  padding-bottom: 50px;
}

.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container .heading h3 span{
  font-weight: 100;
}

.container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.container .btn{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px;
  border-radius: 5px;

}

.container .btn a{
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 3px;
}

@media only screen and (max-width: 769px){

  .container .box{
    flex-direction: column;
  }

  .container .box .dream{
    width: 100%;
  }

}

@media only screen and (max-width: 643px){

  .container .heading{
    width: 100%;
  }
  
  .container .heading h3{
    font-size: 1em;
  }

}
.blog-section{
  width: 100%;
}

.blog-section .section-content{
  width: 85%;
  margin: 20px auto;
}

.blog-section .section-content .title{
  width: 60%;
  text-align: center;
  margin: auto;
}

.blog-section .section-content .title h2{
  font-size: 40px;
  color: #01571e;
  text-transform: uppercase;
}

.blog-section .section-content .title p{
  font-size: 18px; 
  color: #7c5a5a;
  margin-top: 20px;
}

.blog-section .section-content .cards{
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 25px auto;
}

.blog-section .section-content .cards .card{
  width: 100%;
  background-color: #fff1f1; 
  
}

.blog-section .section-content .cards .card img{
  width: 100%;
  height: auto;
}

.blog-section .section-content .cards .card .article{
  padding: 15px 20px;
}

.blog-section .section-content .cards .card .article h4{
  font-size: 24px;
  color: #4a4a4a;
}

.blog-section .section-content .cards .card .article p{
  font-size: 16px;
  margin:10px 0px;
  color: #6a6a6a
}

.blog-section .section-content .cards .card a{
  text-decoration: none;
  display: inline-block;
  background-color: #25c5c5;
  padding: 8px 1px;
  margin-left: 20px;
  color: #000000;
  margin-bottom: 20px;
}